<header>
    <nav>
        <a href="/">Mybral</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/add">Add Author</a></li>

        </ul>
    </nav>
</header>