<h2 class="page-header">new authors</h2>

<form method="post" action="/authors">
    <%- include('_form_fields')%>
        <a href="/authors">Cancel</a>
        <button type="submit">Create</button>
</form>